<!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="../assets/img/pngwing.com.png" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>Tu próximo<br><span>destino</span><br>está aquí</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Conocénos</a>
          <a href="#services" class="btn-services scrollto">Nuestros servicios</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->
