<!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" class="clearfix">
        <div class="container">
  
          <header class="section-header">
            <h3 class="section-title">Nuestras propuestas más solicitadas</h3>
          </header>
  
          <div class="row">
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">todos</li>
                <li data-filter=".filter-Asia">ASIA</li>
                <li data-filter=".filter-Europa">EUROPA</li>
                <li data-filter=".filter-America">AMERICA</li>
                <li data-filter=".filter-oceania">OCEANIA</li>
              </ul>
            </div>
          </div>
  
          <div class="row portfolio-container">
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-Europa">
              <div class="portfolio-wrap">
                <img src="../assets/img/portfolio/francia.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Francia</a></h4>
                  <p>Siempre hermosa</p>
                  <div>
                    <a href="assets/img/portfolio/franci ahotel.jpg" data-lightbox="portfolio" data-title="hotel francia" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-Asia" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="../assets/img/portfolio/india2.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">India</a></h4>
                  <p>Otro mundo</p>
                  <div>
                    <a href="assets/img/portfolio/india-hotel.jpg" class="link-preview" data-lightbox="portfolio" data-title="hotel india" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-Europa" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="../assets/img/portfolio/Costa Amalfi.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Amalfi</a></h4>
                  <p>Un destino soñado</p>
                  <div>
                    <a href="assets/img/portfolio/hotel-la-bussola-amalfi-67042.jpg" class="link-preview" data-lightbox="portfolio" data-title="hotel Amalfi" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-America">
              <div class="portfolio-wrap">
                <img src="../assets/img/portfolio/new york.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">New York</a></h4>
                  <p></p>
                  <div>
                    <a href="assets/img/portfolio/new hotel.jpg" class="link-preview" data-lightbox="portfolio" data-title="hotel new york" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-Europa" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="../assets/img/portfolio/roma.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Roma</a></h4>
                  <p>Hogar de momentos increíbles</p>
                  <div>
                    <a href="assets/img/portfolio/roma hotel.jpg" class="link-preview" data-lightbox="portfolio" data-title="hotel roma" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-Asia" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="../assets/img/portfolio/turquia.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Turquia</a></h4>
                  <p>Donde los sueños cobran vida</p>
                  <div>
                    <a href="assets/img/portfolio/turquia hotel.jpg" class="link-preview" data-lightbox="portfolio" data-title="hotel turquia" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-Europa">
              <div class="portfolio-wrap">
                <img src="../assets/img/portfolio/londres2.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Londres</a></h4>
                  <p>Para los mejores momentos de tu vida</p>
                  <div>
                    <a href="assets/img/portfolio/londres-hotel.jpg" class="link-preview" data-lightbox="portfolio" data-title="hotel londres" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-Asia" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="../assets/img/portfolio/china3.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">China</a></h4>
                  <p>Reino de maravillas</p>
                  <div>
                    <a href="assets/img/portfolio/hotel-de-china.jpg" class="link-preview" data-lightbox="portfolio" data-title="hotel china" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-oceania" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="../assets/img/portfolio/australia 2.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Australia</a></h4>
                  <p>Nada como Australia</p>
                  <div>
                    <a href="assets/img/portfolio/aust hotel.jpg" class="link-preview" data-lightbox="portfolio" data-title="hotel Australia" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-America" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="../assets/img/portfolio/punta cana.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Punta Cana</a></h4>
                  <p>La isla de la naturaleza</p>
                  <div>
                    <a href="assets/img/portfolio/impressive-punta-cana.jpg" class="link-preview" data-lightbox="portfolio" data-title="hotel Punta Cana" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-oceania" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="../assets/img/portfolio/maldivas.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Islas maldivas</a></h4>
                  <p>El lado soleado de la vida</p>
                  <div>
                    <a href="assets/img/portfolio/mald hotel.jpg" class="link-preview" data-lightbox="portfolio" data-title="hotel Maldivas" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #portfolio -->
  
    
